{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feed</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ feed.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ feed.url }}</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-info btn-raised" href="{{ path('user_feed_index') }}">Back to the list</a>
            <a class="btn btn-info btn-raised" href="{{ path('user_feed_edit', { 'id': feed.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger btn-raised" type="submit" value="Delete">
            {{ form_end(delete_form) }}
{% endblock %}
