{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ feed.name }}</h1>
    <div class="content">
        <table class="table">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ feed.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td><a href="{{ feed.url }}">{{ feed.url }}</a></td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-info btn-raised" href="{{ path('user_feed_index') }}">Back to the list</a>
        <a class="btn btn-info btn-raised" href="{{ path('user_feed_edit', { 'id': feed.id }) }}">Edit</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger btn-raised" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
