{% extends 'base.html.twig' %}

{% block body %}
    <h1>My merged feeds</h1>
    <div class="content">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for mergedFeed in mergedFeeds %}
                <tr>
                    <td><a href="{{ path('user_merged_show', { 'id': mergedFeed.id }) }}">{{ mergedFeed.name }}</a></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('user_merged_show', { 'id': mergedFeed.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('user_merged_edit', { 'id': mergedFeed.id }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('user_merged_merge', { 'id': mergedFeed.id }) }}">my feed</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success btn-raised" href="{{ path('user_merged_new') }}">Create a new entry</a>
    </div>
{% endblock %}
