{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ mergedFeed.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mergedFeed.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ mergedFeed.name }}</td>
            </tr>
            <tr>
                <th>Feeds</th>
                <td>
                    <ul>
                        {% for feed in feeds %}
                            <li>{{ feed }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info btn-raised" href="{{ path('user_merged_index') }}">Back to the list</a>
    <a class="btn btn-info btn-raised" href="{{ path('user_merged_edit', { 'id': mergedFeed.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-danger btn-raised" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
